.tabs {
  border-bottom: 1px solid #ccc;
}

.tab {
  color: red;
  cursor: pointer;
}

.tab.active {
  border: 1px solid #ccc;
  border-bottom: none;
  background: white;
  color: black;
  position: relative;
  top: 1px;
}